<?php
$site_url = get_option( 'siteurl' );
?>
<style type="text/css">
<!--
.style2 {color: #999999}
.style3 {color: #666666}
.style4 {
	color: #D50948;
	font-weight: bold;
	font-style: italic;
}
.style5 {color: #D50948}
.style6 {
	color: #D50948;
	font-size: 9px;
	font-style: italic;
	float: left;
}
-->
</style>
<hr />  
    <h2>USE</h2>
   
   <p> Click <span class="style5"><strong>edit</strong></span> to set the matrix gallery.
Add, edit, or delete the images you want to display the gallery. You can see here the options you have for image:</p>
<ul>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono2.png" width="50" height="50" /> <span class="style5"><strong><em>Image</em></strong>.</span> <span class="style3">You can enter the url of the images manually or press the button "change image". Pressing the button will load the wordpress media library, select the image you want and click "Insert in Post" to insert the image in the matrix. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono3.png" width="50" height="50" /> <span class="style5"><strong><em>Title</em></strong>. </span><span class="style3">The title of each image/video. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono4.png" width="50" height="50" /><span class="style5"><strong><em> Url</em></strong>.</span> <span class="style3">Image link. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono4.png" width="50" height="50" /><span class="style5"><strong><em> Description</em></strong>.</span> <span class="style3">Description text. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono4.png" width="50" height="50" /><span class="style5"><strong><em> SEO</em></strong>.</span> <span class="style3">Seo labels. </span></li>

</ul>

<br/>
<p><strong>After the image list, the matrix has the configuration options and overall design of the matrix carousel. These are among others: width of the matrix, the matrix height, number of images rows, the images sizes, types of animation, colors, ligthbox, text, ...  </strong> </p>
<hr/>


<p style="border:1px solid; border-color: #D50948; padding:10px; text-align:center;"><span class="style6">Extendyourweb.com/wordpress. Visit our page and see more premium plugins! </span><br/><br/>
<a href="http://www.extendyourweb.com/" target="_blank">Download more plugins/themes</a> || <a href="http://www.webpsilon.com" target="_blank">Posicionamiento y Web</a>
</p>

<br/>